*{margin: 0; padding: 0; box-sizing: border-box;}
/* 
.row{width:250px; padding: 24px; background-color: gold; color:blue; margin: 24px; float: left;}
.row h2{color:red}
.row p{line-height: 1.5em;}
.two{background-color: violet;}
.three{background-color: maroon;}
 */

 #services{
    background-color: lightseagreen;
 }
 .row{max-width: 1200px; margin: 0 auto; background-color: beige;}
.cf{clear: both;}
 .col-3{
    width: 30%;
    float: left;
    margin: 16px;
}
#gallery{background-color: olivedrab; margin: 24px 0;}
.col-4{width:22%; float: left; margin: 16px;}
.col-2{width:47%; float: left; margin: 16px;}


