body{
    font-family: 'Ubuntu', sans-serif;
}

/* navbar  style*/

nav ul li a.active{
 text-decoration: underline;
}
nav ul li a{
 padding: 1rem 2rem;
 color: var(--secondary-color);
 font-weight: 500;
}

h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-color);
}


#services img{
    width: 65px;   
}

#services p{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--secondary-color);
}

.news-form{
    margin-top: 60px;
}


/* footer style */

footer{
    background-color: #000033;
    margin-top: 120px;
    
}

footer .brand{
    width: 100px;
}

footer p{
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 16px;
}

footer ul li{
    margin-bottom: 16px;
}

footer p, footer ul li a, footer ul li a:hover, footer h3, footer ul li i{
    color: white;
    
}
footer ul li i{
    padding: 16px;
}
footer .col-3{
    padding: 0 20px;
}