:root{
    --primary-color: #029837;
    --secondary-color: #000033;
    --bg-color: #f8f9fa;
}

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{padding: 0 2rem;}

a{text-decoration: none;}
ul{list-style: none;}

h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

h2{
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

p{
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

/* text align */
.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}



/* Flex box */
.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-box.sb{   
    justify-content: space-between;}

.row{max-width: 1200px; margin: 0 auto;}

/* padding */

.px-1{padding: 0 1rem;}
.px-2{padding: 0 2rem;}
.px-3{padding: 0 3rem;}
.px-4{padding: 0 4rem;}

.py-1{padding: 1rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}
.py-4{padding: 4rem 0;}

/* margin */
.mx-1{margin: 0 1rem;}
.mx-2{margin: 0 2rem;}
.mx-3{margin: 0 3rem;}
.mx-4{margin: 0 4rem;}
.mx-auto{margin: 0 auto;}



.my-1{margin: 1rem 0;}
.my-2{margin: 2rem 0;}
.my-3{margin: 3rem 0;}
.my-4{margin: 4rem 0;}



.pt-1{padding-top: 1rem;}
.pt-2{padding-top: 2rem;}
.pt-3{padding-top: 3rem;}
.pt-4{padding-top: 4rem;}

.pb-1{padding-bottom: 1rem;}
.pb-2{padding-bottom: 2rem;}
.pb-3{padding-bottom: 3rem;}
.pb-4{padding-bottom: 4rem;}

.mt-1{margin-top: 1rem;}
.mt-2{margin-top: 2rem;}
.mt-3{margin-top: 3rem;}
.mt-4{margin-top: 4rem;}

.mb-1{margin-bottom: 1rem;}
.mb-2{margin-bottom: 2rem;}
.mb-3{margin-bottom: 3rem;}
.mb-4{margin-bottom: 4rem;}

.btn{
    padding: 1rem 2rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}   

.btn.primary{
    background-color: var(--primary-color);
    color: #fff;
}

.btn.outline{
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn.outline:hover{
    background-color: var(--primary-color);
    color: #fff;
}

.btn.outline.small{
    padding: 0.5rem 1rem;
}


/* Grid System */

.col-12{
    width: 100%;
}

.col-6{
    width: 50%;
}

.col-4{
    width: 33.33%;
}

.col-3{
    width: 25%;
}


/* images */

img{
    width: 100%;
    height: auto;
}

/* media query */

/* Mobile */
@media screen and (min-width: 320px){
    .flex-box{
        flex-direction: column;
    }

    .col-4{
        width: 100%;
        margin-bottom: 2rem;
    }

    nav{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .sb{
        flex-direction: row;
    
    }

    .col-6{
        width: 100%;
    }

    .hero img{
     display: block;
     margin-top: 2rem;
    }
}

/* Tablet */
@media screen and (min-width: 768px){
    .flex-box{
        flex-direction: column;
    }

    .col-4{
        width: 50%;
        margin-bottom: 2rem;
    }

    .col-6{
        width: 100%;
    }

    nav{
        display: none;
    }
    .hamburger{
        display: block;
    }

    .sb{
        flex-direction: row;
    
    }
}

/* Desktop */
@media screen and (min-width: 992px){
    .flex-box{
        flex-direction: row;
    }

    nav{
        display: block;
    }
    .hamburger{
        display: none;
    }

    .hero img{
     display: block;
     margin-top: 0rem;
    }
}
