:root{
    --bg-pc:#134560;
    --text-color:#363636;
    --text-ac-color:#dfa70f;
    --text-light:#ffffff;
}

*{box-sizing: border-box; margin: 0; padding: 0;}
a{text-decoration: none; color:var(--text-ac-color);}
ul{list-style: none;}
body{color:var(--text-color); font-family: "Poppins", sans-serif;}
h1, h2, h3{font-family: "DM Serif Text", serif; font-style: italic;}
h1,h2,h3{color: var(--text-ac-color);}

/* Styles */
.bg-primary{background-color: var(--bg-pc);}
.row{max-width: 1200px; margin: 0 auto;}
.flex-box{display: flex; justify-content: space-between; align-items: center;}
.py-1{padding: 16px 0;}
.py-2{padding: 24px 0;}
.py-3{padding: 32px 0;}
.px-1{padding: 0 16px ;}
.px-2{padding: 0 24px ;}
.px-3{padding: 0 32px ;}
.mb-1{margin: 16px 0;}
.mb-2{margin: 24px 0;}
.mb-3{margin: 32px 0;}

/* brand */

.brand a{font-size: 1.5em; color: var(--text-light);}

/* navlinks */
nav .brand{color:var(--text-light)}
nav ul li a{padding: 8px 16px ; transition: background-color 0.7s ease; margin:0 8px ;}
nav ul li a:hover, .active{background-color: var(--text-light); border-radius: 8px; color: var(--bg-pc);}

/* hero */
.col-2{
    width: calc(50% - 24px);
    /* border: 2px solid var(--bg-pc); */
}

#hero h1{
    font-size: 3em;
    margin-bottom: 16px;
}

#hero p{
    font-size: 1.2em;
    margin-bottom: 32px;
}

.btn{
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    background-color: var(--text-ac-color);
    color: var(--text-light);
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

.btn.small{
    padding: 8px 16px;
}
.btn:hover{
    background-color: var(--bg-pc);
}

/* services */
.col-3{
    width: calc(33.33% - 36px);
}

#services{
    background-color: var(--bg-pc);
    color: var(--text-light);
    padding: 32px 0;
    text-align: center;
}


#services h2{
    font-size: 2em;
    margin-bottom: 8px;
    /* text-align: center; */
}

#services p{
    margin-bottom: 24px;
    /* text-align: center; */
}